<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <td class="card">
                <div class="card-header">
                    <h1><strong>C칩digo de Verificaci칩n</strong></h1>
                </div>
                <div class="card-body">
                    <h2>Hola, {{name}}</h2>
                    <p>Has solicitado reestablecer tu contrase침a. Utiliza el siguiente c칩digo para continuar con el proceso:</p>
                    <label>{{resetPasswordCode}}</label>
                    <p>Si no solicitase este cambio, por favor ingora este correo</p>
                </div>

            </td>
        </tr>
    </table>
</body>

</html>